*{
font-family: Avenir,sans-serif;
padding :0px;
margin : 0px;
box-sizing: border-box;
text-align: center;
}
body
{
	background :linear-gradient(to bottom right, rgb(244, 246, 247), rgb(89, 152, 235));
    text-align: center;
	animation : apparition 1s ease-out; 
}
a
{
text-decoration: none;
color: rgb(0, 0, 0);
text-align: center;
}
 .PHOTO
 {
    border: 2px solid black ; 
	border-radius: 50%; 
	margin-left: auto;
	margin-right: auto;
 }
 
 .IMG
 {
	border: 2px solid black ; 
 }

.reseaux-soc
{
margin: auto;
text-align :center; 
}
.button1
{
	margin-top: 6.9px; 
	margin-left: auto; 
	margin-right: auto;

 }
 .button
 {
	background: rgb(59,244,243);
	background: radial-gradient(circle, rgba(59,244,243,0.9990371148459384) 0%, rgba(87,135,240,1) 100%);
	margin-right: 15px;
	padding: 5px;

 }
  
.Hautdepage
{
margin-left: auto;
margin-right: auto;
padding-bottom: 1em; 
width: 10em;
text-align: center;
}
.presentation
{
	border-width : 1px; 
    border-style:solid;
    border-color:black;
	padding-top: 2em;
    padding-bottom: 2em;
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em; ;
	margin-bottom: 1em;
	background: rgb(59,244,243);
background: radial-gradient(circle, rgba(59,244,243,0.9990371148459384) 0%, rgba(87,135,240,1) 100%);

}
@keyframes apparition 
{
from
{
	opacity: 0;
	transform: translateY(-100px);
}
to 
{
	opacity : 1; 
	transform : translateY(0px); 
}
}
.compétences
{
	border-width : 1px; 
    border-style:solid;
    border-color:black;	
	padding-top: 2em;
   padding-bottom: 2em;
   width: auto;
   justify-content: center;
   flex-direction: column;
   border-radius: 1em;
   margin-left: 1em;
   margin-right: 1em; ;
   margin-bottom: 1em; 
   background: rgb(59,244,243);
background: radial-gradient(circle, rgba(59,244,243,0.9990371148459384) 0%, rgba(87,135,240,1) 100%);
}
.contact
{
	border-width : 1px; 
	
    border-style:solid;
    border-color:black;	
	padding-top: 2em;
    padding-bottom: 1em;
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em; ;
	margin-bottom: 1em;
	background: rgb(59,244,243);
background: radial-gradient(circle, rgba(59,244,243,0.9990371148459384) 0%, rgba(87,135,240,1) 100%);
}
.Nomdepage
{
	padding-top: 1px;
    padding-bottom: 3em;
}
.stage1
{
	border-width : 1px; 
	border-radius: 1em;
    border-style:solid;
    border-color:black;	
	padding-top: 2em;
    padding-bottom: 1em;
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em; ;
	margin-bottom: 1em;
	background: rgb(59,244,243);
background: radial-gradient(circle, rgba(59,244,243,0.9990371148459384) 0%, rgba(87,135,240,1) 100%);
}
.stage2
{
	border-width : 1px; 
	border-radius: 1em;
    border-style:solid;
    border-color:black;	
	padding-top: 2em;
    padding-bottom: 1em;
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em; ;
	margin-bottom: 1em;
	background: rgb(59,244,243);
background: radial-gradient(circle, rgba(59,244,243,0.9990371148459384) 0%, rgba(87,135,240,1) 100%);
}
.stage3
{
	border-width : 1px; 
	border-radius: 1em;
    border-style:solid;
    border-color:black;	
	padding-top: 2em;
    padding-bottom: 1em;
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em; ;
	margin-bottom: 1em;
	background: rgb(59,244,243);
background: radial-gradient(circle, rgba(59,244,243,0.9990371148459384) 0%, rgba(87,135,240,1) 100%);
}
.stage4
{
	border-width : 1px; 
	border-radius: 1em;
    border-style:solid;
    border-color:black;	
	padding-top: 2em;
    padding-bottom: 1em;
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em; ;
	margin-bottom: 1em;
	background: rgb(59,244,243);
background: radial-gradient(circle, rgba(59,244,243,0.9990371148459384) 0%, rgba(87,135,240,1) 100%);
}

.ECE
{
	border-width : 1px; 
	border-radius: 1em;
    border-style:solid;
    border-color:black;	
	padding-top: 2em;
    padding-bottom: 1em;
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em; ;
	margin-bottom: 1em;
	background: rgb(59,244,243);
background: radial-gradient(circle, rgba(59,244,243,0.9990371148459384) 0%, rgba(87,135,240,1) 100%);
}
.STE
{
	border-width : 1px; 
	border-radius: 1em;
    border-style:solid;
    border-color:black;	
	padding-top: 2em;
    padding-bottom: 1em;
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em; ;
	margin-bottom: 1em;
	background: rgb(59,244,243);
background: radial-gradient(circle, rgba(59,244,243,0.9990371148459384) 0%, rgba(87,135,240,1) 100%);
}

.BS
{
	border-width : 1px; 
	border-radius: 1em;
    border-style:solid;
    border-color:black;	
	padding-top: 2em;
    padding-bottom: 1em;
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em; ;
	margin-bottom: 1em;
	background: rgb(59,244,243);
background: radial-gradient(circle, rgba(59,244,243,0.9990371148459384) 0%, rgba(87,135,240,1) 100%);
}
.Scout
{
	border-width : 1px; 
	border-radius: 1em;
    border-style:solid;
    border-color:black;	
	padding-top: 2em;
    padding-bottom: 1em;
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em; ;
	margin-bottom: 1em;
	background: rgb(59,244,243);
background: radial-gradient(circle, rgba(59,244,243,0.9990371148459384) 0%, rgba(87,135,240,1) 100%);
}
.sport
{
	border-width : 1px; 
	border-radius: 1em;
    border-style:solid;
    border-color:black;	
	padding-top: 2em;
    padding-bottom: 1em;
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em; ;
	margin-bottom: 1em;
	background: rgb(59,244,243);
background: radial-gradient(circle, rgba(59,244,243,0.9990371148459384) 0%, rgba(87,135,240,1) 100%);
}

.asso
{
	border-width : 1px; 
	border-radius: 1em;
    border-style:solid;
    border-color:black;	
	padding-top: 2em;
    padding-bottom: 1em;
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em; ;
	margin-bottom: 1em;
	background: rgb(59,244,243);
background: radial-gradient(circle, rgba(59,244,243,0.9990371148459384) 0%, rgba(87,135,240,1) 100%);
}
.Prof
{
	border-width : 1px; 
	border-radius: 1em;
    border-style:solid;
    border-color:black;	
	padding-top: 2em;
    padding-bottom: 1em;
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em; ;
	margin-bottom: 1em;
	background: rgb(59,244,243);
background: radial-gradient(circle, rgba(59,244,243,0.9990371148459384) 0%, rgba(87,135,240,1) 100%);
}
.vidéoscout 
{
	border-width : 1px; 
	border-radius: 1em;
    border-style:solid;
    border-color:black;	
	padding-top: 2em;
    padding-bottom: 1em;
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em; ;
	margin-bottom: 1em;
	background: rgb(59,244,243);
background: radial-gradient(circle, rgba(59,244,243,0.9990371148459384) 0%, rgba(87,135,240,1) 100%);
}


.HomeP
{
height: 50px;
width : 50px; 
border-width : 0.5px; 
border-radius: 50%;
border-style:solid;
margin-top: 2px; 
border-color:rgb(222, 228, 233);
margin-left: 2px;	
}

.direction 
{
	display :flex; 
	flex-direction: row ;
}
.formulaire
{
	border-width : 1px; 
	border-radius: 1em;
    border-style:solid;
    border-color:black;	
	padding-top: 2em;
    padding-bottom: 1em;
	border-radius: 1em;
	margin-left: 1em;
	margin-right: 1em; ;
	margin-bottom: 1em;
	background: rgb(59,244,243);
background: radial-gradient(circle, rgba(59,244,243,0.9990371148459384) 0%, rgba(87,135,240,1) 100%);
}
